body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */ 
}
/* :root {
    --thumbnails-image-width: 20vw;
    --thumbnails-image-height: 18vw; */
/* } */   
.thumbnails-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 20vh;
    overflow-y: auto;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    padding-top: 2.5vh;
}
.thumbnails-image {

    width: 20vw;
    height: 18vw;  
    display: block;
}
.details-title {
    background: cornsilk;
    position: absolute;
    left: 3vw;
    bottom: 2vw;

}
.details-images {
    width: 60vw;
    height: 55vw;
  
}
.details-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thumbnails-title{
    display: block;
    text-align: center;
    background-color: beige;
    color: blue;
    font-size: 1.2rem;
}
.thumbnails-item {
    margin-top: 2vh;
    margin-left: 2vw;
    border: 1px solid blue;
}
.thumbnails-anchor {
    text-decoration: none;
}
.logo-title {
    background-color: fuchsia;
    color: ghostwhite;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}
body, html {
height: 100%;
}

@media (min-width: 568px) {
.thumbnails-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    order: -1;
    max-height: 75vh;
    justify-content: space-between;
    overflow-y: auto;
}    
.thumbnails-title {
    width: 18vw;
    display: block;
    text-align: center;
    font-size: 1.1rem;
    padding-bottom: 2px;
    
}
.thumbnails-item {
    max-width: 20vw;
    border-radius: 17px;
    min-height: 19vw;
    overflow: hidden;
    border: cadetblue;
}
.thumbnails-image {
    width: 18vw;
    height: 16vw;
}
.details-container {
    display: flex;
    flex-direction: row;
    position: relative;
}
.details-images {
    height: 70vh;
    border-radius: 19px;
}
.details-title{
    position: absolute;
    left: -3vw;
    bottom: 7vw;
    border-radius: 7px;
}
.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

body {
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    margin: 0;
    /* overflow: hidden; */
}
.footer-title {
    background: fuchsia;
    font-size: 1.2rem;
}
.logo-title {
    display: block;
}
header{
    display: inline;
}

}